.repository-wrapper{
    width:25%;
    padding: 5px 5px 5px 5px;
}
.repository{
    border : 1px solid #000066;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px 5px 5px 5px;
}
.repository:hover{
    background-color : #000066;
    color : white;
    text-decoration: none;
}
.repository-actions{
    margin-top:10px;
}